* {
  box-sizing: border-box;
}

.dnone {
  display: none;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.tcenter {
  text-align: center;
}

.cpointer {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}

.App-header {
  z-index: 9999;
  min-height: 4em;
  position: fixed;
  padding: 1em 5em;
  background-color: #fff;
}

.App-icon {
  width: 15px;
  height: 15px;
  background-color: #868686;
  margin: 8.5px 15px 8.5px 0px;
}

.App-name {
  color: #737373;
  line-height: 2em;
  font-weight: bold;
  text-decoration: none;
}

.App-container {
  top: 5em;
  width: 100%;
  position: relative;
}

.Todo-parent {
  padding-bottom: 25px;
}

.Todo-main {
  width: 500px;
  margin: 0px auto;
  text-align: left;
  background: #fff;
}

.Todo-child {
  padding: 10px;
}

.Todo-zero-list h1,
.Todo-child .Todo-h1 {
  font-size: 16px;
  color: #382110;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 7px;
  margin: 4px 0px 4px 0px;
}

.Todo-child .Todo-h1 {
  border-bottom: 2px solid #000;
}

.Todo-add-main {
  padding: 10px 0px;
}

.Todo-add-input {
  width: 80%;
  resize: none;
  outline: none;
  font-size: 16px;
  color: #333333;
  padding: 8px 12px;
  border-radius: 3px;
  background: #ffffff;
  border: #dcd6cc 1px solid;
}

.Todo-add-input:focus {
  outline: 0px;
  border-color: #b9ad99;
  box-shadow: 0 0 4px rgba(185, 173, 153, 0.5);
}

.Todo-add-button {
  width: 16%;
  outline: none;
  line-height: 1;
  margin-left: 4%;
  font-size: 14px;
  color: #333333;
  padding: 8px 12px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #d6d0c4;
  background-color: #f4f1ea;
}

.Todo-list-child {
  width: 100%;
  height: 40px;
  padding: 5px 0px;
}

.Todo-list-child input[type="checkbox"] {
  width: 5%;
  float: left;
  margin: 0px;
  margin-top: 10px;
}

.Todo-list-child input[type="text"] {
  width: 65%;
  float: left;
  height: 30px;
  outline: none;
  display: block;
  font-size: 14px;
  line-height: 30px;
  padding: 0px 10px;
}

.Todo-list-child input[type="text"]:disabled {
  border: 1px solid transparent;
}

.Todo-list-child button {
  width: 14%;
  outline: none;
  line-height: 1;
  margin-left: 1%;
  font-size: 14px;
  color: #333333;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #d6d0c4;
  background-color: #f4f1ea;
}
.Todo-list-child .todoCompleted {
  width: 19% !important;
  float: right !important;
}

.Todo-list-child .Todo-list-completed {
  text-decoration: line-through;
}

.notFound-inner {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  color: #bb0a0a;
  font-size: 20px;
  padding: 20px 0px;
  position: absolute;
  text-align: center;
  /* background-color: #fff; */
}

.notFound-inner-ul {
  margin: 0px;
  font-size: 16px;
  padding: 10px 0px;
}

.notFound-inner-li {
  list-style: none;
}